# Ignore virtual environment
venv/

# Ignore system files
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files (optional, or just raw)
data/raw/*

.kaggle/
kaggle.json

